VITE_API_BASE_URL=
VITE_API_PROXY_TARGET=http://127.0.0.1:8000
VITE_GA_MEASUREMENT_ID=
VITE_GOOGLE_ADS_ID=
VITE_GOOGLE_ADS_CONVERSION_CART_CHECKOUT_ORDER_SAVED=
VITE_GOOGLE_ADS_CONVERSION_PRODUCT_DETAIL_WHATSAPP_CLICK=
VITE_GOOGLE_SITE_VERIFICATION=
VITE_SITE_URL=https://ahrcorporation.id
